%h1 LIST OF THE ACTORS
%table
  %thead
    %tr
      %th ARTISTIC NAME
  - @actors.each do |actor|
    %tr
      %th
        %dd= link_to actor.artistic_name, actor
%p
%td= link_to 'BACK', new_movie_path