%h1 MOVIES
%table
  %thead
    %tr
      %th TITLE
  - @movies.each do |movie|
    %tr
      %th
        %dd= link_to movie.title, movie
%p
%td= link_to 'CREATE', new_movie_path
|
%td= link_to 'SAIR', root_path