%h1 CUSTOMER
%table
  %thead
    %tr
      %th ID
      %th NAME
  - @customers.each do |customer|
    %tr
      %th= link_to customer.id, customer
      %th= link_to customer.name, customer
      %th= link_to customer.last_name, customer
%p
%tr= link_to 'New', action: 'new'
