- if employee_signed_in?
  %p
    Hello #{current_employee.email}
    %br/
    = link_to 'Sign out', destroy_employee_session_path, :method => :delete
- else
  %p
    = link_to 'Sign in', new_employee_session_path
